<!DOCTYPE html>
<html lang="en">
  <head>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="This is a guthub app">
      <meta name="author" content="shawniut">

      <title>GistApp - Welcome to your gist world!</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag    'application', media: 'all'%>
      <%= javascript_include_tag 'application'%>
  </head>

  <body>

      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
          <div class="container">
              <a class="navbar-brand" href="#">GistApp <%="- #{current_user.email}" if current_user%></a>
              
              <%if current_user%>
                <a class= 'btn btn-primary' href="/signout">Sign Out</a>
              <%else%>
                <a class= 'btn btn-primary' href="/auth/github">Login With Github</a>
              <%end%>
          </div>
      </nav>
      <%= yield %>
  </body>

</html>
